body {
	font: 12px/20px tahoma,verdana,sans-serif; color: #1a438e;
}
td {
	font: 12px/20px tahoma,verdana,sans-serif; color: #1a438e
}
div {
	font: 12px/20px tahoma,verdana,sans-serif; color: #1a438e
}
p {
	font: 12px/20px tahoma,verdana,sans-serif; color: #1a438e
}
p {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
body {
	padding-bottom: 0px; margin: 5px; padding-left: 0px; padding-right: 0px; background: #ffffff; padding-top: 0px
}
body {
	scrollbar-arrow-color: #000000; scrollbar-face-color: #ecf3fb; scrollbar-darkshadow-color: #ffffff; font-family: verdana, arial, helvetica, sans-serif; scrollbar-highlight-color: #ffffff; color: #000000; scrollbar-shadow-color: #cccccc; font-size: 9pt; scrollbar-track-color: #eaf0f5; text-decoration: none; scrollbar-3dlight-color: buttonface
}
ul {
	padding-bottom: 0px; padding-left: 10px; margin-bottom: 0px; margin-left: 10px
}
input {
	font: 12px/120% tahoma,verdana,sans-serif; height: 19px; color: navy
}
select {
	font: 12px/120% tahoma,verdana,sans-serif; height: 19px; color: navy
}

input {
	border-bottom: #8ab3db 1px solid; border-left: #8ab3db 1px solid; padding-left: 2px; padding-right: 2px; font: 12px/120% verdana,sans-serif; color: navy; border-top: #8ab3db 1px solid; border-right: #8ab3db 1px solid
}
textarea {
	border-bottom: #8ab3db 1px solid; border-left: #8ab3db 1px solid; padding-left: 2px; padding-right: 2px; font: 12px/120% verdana,sans-serif; color: navy; border-top: #8ab3db 1px solid; border-right: #8ab3db 1px solid
}
hr {
	border-bottom: #8ab3db 1px solid; border-left: #8ab3db 1px solid; padding-left: 2px; padding-right: 2px; font: 12px/120% verdana,sans-serif; color: navy; border-top: #8ab3db 1px solid; border-right: #8ab3db 1px solid
}
.otherinput {
	border-bottom: #8ab3db 1px solid; border-left: #8ab3db 1px solid; padding-left: 2px; padding-right: 2px; font: 12px/120% verdana,sans-serif; color: navy; border-top: #8ab3db 1px solid; border-right: #8ab3db 1px solid
}
.noinput input {
	border-bottom: medium none; border-left: medium none; border-top: medium none; border-right: medium none
}
td {
	border-bottom-color: #c9dbef; border-top-color: #c9dbef; border-right-color: #c9dbef; border-left-color: #c9dbef
}
a {
	color: #1a438e; text-decoration: none
}
a:hover {
	color: #000000; text-decoration: none
}
form {
	margin: 0px
}
.grid {
	border-bottom: #b3cde8 1px solid; border-left: #b3cde8 1px solid; border-collapse: collapse; border-top: #b3cde8 1px solid; border-right: #b3cde8 1px solid
}
.nogrid {
	border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px
}
.fixed {
	table-layout: fixed; overflow: hidden
}
.toptable {
	width: 100%; background: #eef7fd
}
.category {
	background: #ffffff; color: #003373; font-weight: bold
}
.category div {
	float:left;
}
.highlight {
	background: #ffffff
}
.smallbox {
	border-bottom: 0px; border-left: 0px; height: 16px; vertical-align: middle; border-top: 0px; border-right: 0px
}
.hand {
	text-align: center; width: 176px; background: url(../images/menu_2.gif) no-repeat; height: 33px; cursor: hand; padding-top: 2px
}

.t1 {
	color: #ff6600
}
.t2 {
	color: red
}
.t3 {
	color: gray
}
.t4 {
	color: #000000
}


.table_search{
	border-collapse:collapse;
	border-left:1px solid #ccdef6;
	border-top:1px solid #ccdef6;
	width:99%;
}
.table_search .head{
	border-collapse:collapse;
	border-left:1px solid #ccdef6;
	border-top:1px solid #ccdef6;
	border-right:1px solid #ccdef6;
	text-align:left;
	font-size:12px;
	background: #337099;
	color: #fff;
	height:10px;
}
.table_search .left{
	border-collapse:collapse;
	border-right:1px solid #ccdef6;
	border-bottom:1px solid #ccdef6;
	background: #f3f3f3;
	font-size:12px;
	color:#445588;
	text-align:right;
	vertical-align:middle;
}
.table_search td{
	border-collapse:collapse;
	border-right:1px solid #ccdef6;
	border-bottom:1px solid #ccdef6;
	font-size:12px;
	color:#445588;
	text-align:left;
	vertical-align:middle;
}


/****ztree树区域样式*****/
.ztree_customcss{
	z-index: 1; position: absolute; background-color: #ccc; overflow-x: scroll;overflow-y: scroll; height: 200px; width: 200px; display: none;
}